.edit {
    width: 100%;
    padding: 1rem 3rem;
    @include Flex;
    flex-direction: column;
    gap: 2rem;
    &-heading {
        font-size: 3rem;
        font-weight: 500;
    }
    &-form {
        @include Flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    &-input {
        padding: 0.5rem 1rem;
        min-width: 40rem;
        border: 1px solid grey;
        font-size: 1.5rem;
        height: 3.5rem;
        outline: none;
    }
    &-input::placeholder {
        font-size: 1.5rem;
        color: darkblue;
        font-weight: 700;
    }
    &-btn {
        border: none;
        outline: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 2rem;
        background: #3e4ccc;
        cursor: pointer;
    }
}