.home {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    background: #f5f5f5;
    padding: 3rem 0 0 0;
    &-form {
        padding: 2rem 5rem;
        @include Flex;
        flex-direction: column;
        gap: 2rem;
        border: 1px solid darkblue;
        border-radius: 1rem;
        width: 40rem;
        height: 30rem;
    }
    &-label {
        font-size: 2rem;
    }
    &-searchbar {
        border: none;
        width: 100%;
        height: 3rem;
        border: .5rem;
        outline: none;
    }
    &-submit {
        border: none;
        outline: none;
        width: 15rem;
        height: 4rem;
        @include Flex;
        font-size: 1.8rem;
        text-transform: uppercase;
        background: #04443b;
        color: white;
        border-radius: 1rem;
        cursor: pointer;
    }
}

button,
a {
    cursor: pointer;
}