.sales-fetch-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

@media (max-width: 1000px) {
    .sales-fetch-wrapper {
        flex-direction: column;
    }
}